<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="images/png" sizes="16x16" href="https://upload.cc/i1/2019/03/03/xyKiIo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="Movie.css">
  <title>Theater</title>
</head>

<body>
  <div id="app">
    <div class="loading-page">
      <div class="animation">
        <div class="loading-page-animation-all">
          <div class="loading-page-animation-top">
            <div class="top-bgc"></div>
          </div>
          <div class="loading-page-animation-middle"></div>
          <div class="loading-page-animation-bottom"></div>
        </div>
      </div>
      <h3 class="loading-text">Movie Loading</h3>
      <div class="loading-bar-box">
        <div class="loading-bar"></div>
      </div>
      <div class="loading-second"></div>
      <button @click="movieStart()" class="loading-page-btn">Start</button>
    </div>
    <div class="apptitle">Holiday Movie</div>
    <div class="movie" @wheel.prevent="wheel">
      <div class="cards" :class="{isCartOpen: isCartOpen}">
        <div class="card" v-for="(movie,id) in movies" :key="id">
          <div class="sale-box"></div>
          <div class="left">
            <a :href="movie.iframe" target="_blank">
              <div class="cover" :style="bgImg(movie.imgUrl)"> </div>
            </a>
          </div>
          <div class="right">
            <h2 class="name">{{movie.name}}</h2>
            <h4 class="des">{{movie.description.slice(0,120)}}....</h4>
            <div class="bottom-box">
              <div class="price">＄{{movie.price}}</div>
              <div class="btn-box">
                <i class="star starshow fa fa-star" @click="starShow(movie,$event)" v-if="movie.starshow"></i>
                <i class="star fa fa-star" @click="starShow(movie,$event)" v-else></i>
                <div class="addBtn" @click="addtoCart(movie,$event)">+Add to Cart</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buybox" :style="bgImg(currentMovie.imgUrl)" v-if="currentMovie"></div>
      <i class="starbox fa fa-star"></i>
      <div class="starbox-fixed" @click="isFavoriteOpen=!isFavoriteOpen">
        <div class="fa fa-star"><span> {{ favorite.length }} </span></div>
      </div>
      <div class="favorite-control" :class="{isFavoriteOpen: isFavoriteOpen}">
        <div class="favorite-panel">
          <div class="fav-title">My Favorite Movie</div>
          <ul>
            <li v-for="(movie,id) in favorite">
              <div class="thumbnail" :style="bgImg(movie.imgUrl)"></div>
              <h4> {{movie.name}} </h4>
              <p> {{ movie.description.slice(0,26) }}... </p>
              <div class="fav-remove" @click="favorite.splice(id,1)">-</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="fixed-control" @click="isCartOpen=!isCartOpen"><i
          class="fa fa-shopping-cart fa-2x"></i><span>{{cart.length}}</span></div>
      <div class="cart-control" :class="{isCartOpen: isCartOpen}">
        <div class="cart-panel">
          <div class="cart-title">My Movie Cart</div>
          <ul>
            <li v-for="(movie,id) in cart">
              <div class="thumbnail" :style="bgImg(movie.imgUrl)"></div>
              <h4><span>{{movie.name}}</span>
                <p>{{movie.description.slice(0,60)}}...</p>
                <div class="price">{{movie.price}}$</div>
                <div class="remove fa fa-trash-o" @click="cart.splice(id,1)"></div>
              </h4>
            </li>
            <li v-if="!cart.length">
              <h3>Your cart is empty !!</h3>
            </li>
          </ul>
          <hr />
          <h2>Total：{{totalPrice}}$</h2>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="Movie.js"></script>
</body>

</html>